<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head') %>

    <body>



        <%- include('./partials/nav') %>

            <div class="container">
                <h1>New Category</h1>

                <form action="/addCategory" method="POST">
                    <div>
                        <Label for="category_name">Name</Label>
                        <input type="text" id="category_name" name="category_name" required>
                    </div>
                    <button class="submitBtn">ADD</button>
                </form>
                <% if (message) { %>
                    <h2>CANNOT DELETE CATEGORY THAT IS USE </h2>
                    <% } %>
            </div>


            <table>

                <tr>
                    <th>Name</th>
                    <th>Tools</th>
                </tr>

                <% for (let i=0; i < category.length; i++) { %>
                    <tr>
                        <td>
                            <%= category[i].category_name%>
                        </td>


                        <td>
                            <form action="/addCategory/delete" method="POST"
                                onsubmit="return confirm(`Do you really want to delete`)">
                                <input type="hidden" name="category_id" value="<%= category[i].category_id %>">
                                <button class="deleteBtn"></button>
                            </form>

                        </td>

                    </tr>
                    <% } %>

            </table>
    </body>

</html>