<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <%- include('./partials/nav') %>

        <h1>Add a new Category</h1>

        <form action="/addCategory" method="POST">
            <div>
                <Label for="category_name">Name</Label>
                <input type="text" id="category_name" name="category_name" required>
            </div>
            <button>Submit</button>
        </form>
</body>

</html>