<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head') %>

    <body>

        <%- include('./partials/nav') %>

            <div class="container">
                <h1>New Category</h1>

                <form action="/addCategory" method="POST">
                    <div>
                        <Label for="category_name">Name</Label>
                        <input type="text" id="category_name" name="category_name" required>
                    </div>
                    <button class="submitBtn">ADD</button>
                </form>
            </div>

    </body>

</html>